# PROJECT TITLE

CHAT WITH PDF USING GEMINI

In [1]:
import pandas as pd
import google.generativeai as genai

In [2]:
# API Configuration
gemini_api="AIzaSyDhlAsmGIUb1EJQMfBWOzOJlzEAxNkEMpc"
genai.configure(api_key=gemini_api)
model=genai.GenerativeModel("gemini-1.5-flash")

In [3]:
#  load the dataset
import PyPDF2

# Extract all text from PDF
all_text = []
with open("SQL Interview Questions InterviewBit.pdf", "rb") as pdf_file:
    reader = PyPDF2.PdfReader(pdf_file)
    for page in reader.pages:
        text = page.extract_text()
        all_text.append(text)

# Create DataFrame
df = pd.DataFrame({"page_text": all_text})
print(df.head())

                                           page_text
0  SQL Interview Questions\nSQL Interview Questio...
1  SQL Interview Questions\n5.   What is the diﬀe...
2  SQL Interview Questions\nThe PRIMARY KEY const...
3  SQL Interview Questions\nCREATE TABLE Students...
4  SQL Interview Questions\nWhat type of integrit...

In [4]:
df.head()

                                           page_text
0  SQL Interview Questions\nSQL Interview Questio...
1  SQL Interview Questions\n5.   What is the diﬀe...
2  SQL Interview Questions\nThe PRIMARY KEY const...
3  SQL Interview Questions\nCREATE TABLE Students...
4  SQL Interview Questions\nWhat type of integrit...

In [5]:
df.isnull().sum()

page_text    0
dtype: int64

In [6]:
def ask_gemini(query,df):
    prompt = f"""
                You are my personal AI assistant that help
                me to analyse the following dataset
        {df.head().to_string()}
    
    User query : {query}
    """
    response = model.generate_content(prompt)
    return response.text if response else"Sorry i could'nt process that request."

In [7]:
while True:
    user_query = input("Ask a question about the dataset or type exit to quit.")
    if user_query.lower() == "exit":
        break
    response = ask_gemini(user_query,df)
    print("response",response)